// File: custom.scss


@import '~vuetify/src/styles/styles.sass';
            
.heading {
  font-family: unquote("Roboto");
  font-size: 4rem;
  margin-left:50px;
  align-items: center;
}
.content {
  height: 100vh;
}
.v-image__image {
  background-size: 100% 100%;
}
@media (max-width: 600px) {
 .heading {
  font-family: unquote("Roboto");
  font-size: 2rem;
  margin-left:50px;
  align-items: center;
}
img{
   height:100px;
    width:150px;
}
element.style {
    height: auto;
}
 }